<div class="fzk-dp-ctrls">
	<label class="fzk-dp-month">{{current}}</label>
	<button class="fzk-dp-btn-prv">Prev</button>
	<button class="fzk-dp-btn-nxt">Next</button>
</div>

<div class="fzk-dp-lbls">
	{{#weekdays}}<label
	class="fzk-dp-cell">{{.}}</label
	>{{/weekdays}}
</div>

<div class="fzk-dp-cells"
	>{{#prev-month}}<span
	class="fzk-dp-cell fzk-dp-cell-prv" data-date={{fullDate}}>{{date}}</span
	>{{/prev-month}}{{#cur-month}}<span
	class="fzk-dp-cell{{#current}} fzk-dp-cell-current{{/current}}" data-date={{fullDate}}>{{date}}</span
	>{{/cur-month}}{{#next-month}}<span
	class="fzk-dp-cell fzk-dp-cell-nxt" data-date={{fullDate}}>{{date}}</span
	>{{/next-month}}
</div>
