<!doctype html>

<link href=dp.css rel=stylesheet>

<h1>Date picker</h1>
<div id=container></div>

<script src=hogan.min.js></script>
<script type=application/x-mustache id=template>{{{template}}}</script>
<script src=dp.js></script>

<script>
new DatePicker('#container').show()
</script>
